.carousel-feature .carousel-feature-slides-container {
  position: relative;
}

.carousel-feature .carousel-feature-slides,
.carousel-feature .carousel-feature-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-feature .carousel-feature-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel-feature .carousel-feature-slides::-webkit-scrollbar {
  display: none;
}

.carousel-feature .carousel-feature-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: min(50vw, 480px);
}

.carousel-feature .carousel-feature-slide .carousel-feature-slide-image picture {
  position: absolute;
  inset: 0;
}

.carousel-feature .carousel-feature-slide .carousel-feature-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-feature .carousel-feature-slide .carousel-feature-slide-content {
  z-index: 1;
  margin: 32px;
  padding: 16px;
  position: relative;
  width: var(--slide-content-width, auto);
}

.carousel-feature .carousel-feature-slide-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 12px;
  padding: 12px;
  line-height: 0;
}

.carousel-feature .carousel-feature-slide-indicator button {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #dadada;
  transition: background-color 0.2s;
}

.carousel-feature .carousel-feature-slide-indicator button:disabled,
.carousel-feature .carousel-feature-slide-indicator button:hover,
.carousel-feature .carousel-feature-slide-indicator button:focus-visible {
  background-color: currentcolor;
}

.carousel-feature .carousel-feature-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel-feature .carousel-feature-navigation-buttons button {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: rgb(0 0 0 / 25%);
  transition: background-color 0.2s;
}

.carousel-feature .carousel-feature-navigation-buttons button:hover,
.carousel-feature .carousel-feature-navigation-buttons button:focus-visible {
  background-color: rgb(0 0 0 / 75%);
}

.carousel-feature .carousel-feature-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid;
  border-bottom: 0;
  border-left: 0;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
  color: #fff;
}

.carousel-feature .carousel-feature-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}

@media (width >= 600px) {
  .carousel-feature .carousel-feature-navigation-buttons {
    left: 24px;
    right: 24px;
  }

  .carousel-feature .carousel-feature-slide .carousel-feature-slide-content {
    --slide-content-width: calc((100% - 128px) / 2);

    margin: 48px;
  }
}
